<div class="panel panel-default">
  <div class="panel-body not-yet-implemented <%= "not-yet-implemented--#{variant}" if local_assigns[:variant] %>">
    <span class="glyphicon glyphicon-wrench not-yet-implemented__icon"></span>
  </div>
</div>