<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            <%= t('clincard_balance_request.headers.clincard_balance_requests') %>
          </h1>
        </div>
        <%= render 'clincard_balance_requests/clincard_balance_request_table', root_page: true %>
      </div>
    </div>
</div>