<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            <%= t('dashboard.headers.reward_record') %>
          </h1>
        </div>
        <%= render 'patient_reward_records/reward_record_table', root_page: true %>
      </div>
    </div>
</div>