<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to t('video.views.buttons.create'), new_video_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table" id="symptoms-index-table">
      <thead>
        <tr>
          <th>
            Video Name
          </th>
          <th>
            Url
          </th>
          <th>
            Week
          </th>
          <th>
            Day
          </th>
          <th>
            Like
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @videos %>
      </tbody>
    </table>
    <%= will_paginate @videos %>
  </div>
</div>
