$brand_primary: #EE2F58;
$brand_secondary: #4286f4;
$brand_success: $brand_secondary;
$brand_warning: #F7AA20;

$brand_tertiary: #4BD97A;
$btn-tertiary-bg: $brand_tertiary !default;
$btn-tertiary-border: darken($btn-tertiary-bg, 5%) !default;

$container-background: #eee;

$red-zone: #EE2F58;
$yellow-zone: #F7AA20;
$green-zone: #4BD97A;