<div class="row notification-form">
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'form', patient_visits_record: @patient_visits_record %>
    </div>
  </div>
</div>
</div>