<div class="row notification-form">
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render 'form', exacerbation: @exacerbation %>
    </div>
  </div>
</div>
</div>