<div class="determine-asthma-zone-modal">
	<div class="modal-header">
		<h4 class="modal-title" translate>
			asthmaZone.modals.determineAsthmaZone.header
		</h4>
	</div>
	<div class="modal-body">
		<button class="btn btn-default" ng-click="recordPeakFlow()" translate>
			asthmaZone.modals.determineAsthmaZone.inputPeakFlow
		</button>
		<button class="btn btn-default" ui-sref="symptoms()" translate>
			asthmaZone.modals.determineAsthmaZone.recordSymptoms
		</button>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()" translate>
			asthmaZone.modals.common.cancel
		</button>
	</div>
</div>